<navbar>
	<h1><i class="fa fa-graduation-cap"></i><a href="/">Promo #7</a></h1>
	<ul>
		<li><a href="/users">Les Apprenants <span class="underline"></span></a></li>
		<li><a href="/projects">Les Projets <span class="underline"></span></a></li>
		<li><a href="/formulaire">Ajouter projet<span class="underline"></span></a></li>
	</ul>
</navbar>
