<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<section class="error">
		<div>
			<h2>404</h2>
			<h3>Cette page n'existe pas !</h3>
			<p>Revenir à la page d'<a href="/">accueil</a></p>
		</div>
	</section>
</body>

</html>
