<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs') %>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<form method="post" action="/formulaire">
		<input type="submit" name="" value="go">
	</form>

	<%- include('../partials/footer.ejs')%>
</body>
</html>
