<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<header>
		<%- include('../partials/header.ejs') %>
	</header>
	<section class="home">
		<div class="logo"></div>
		<h2>Bienvenue sur le site de la promo 7 de Simplon !</h2>
		<p>Sur ce site vous pourrez voir les projets de chacun, nos prouesses techniques et visuelles mais aussi la progression de tous durant notre formation.</p>


		<p>
			<a class="btn" href="/users">Les apprenants</a>
			<a class="btn" href="/projects">Les projets</a>
		</p>
	</section>

	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>
</body>

</html>
